<div class="main-container">
  <div class="main-grid-wrapper">
    <div class="widget machine-status">
      <div class="widget-header">Machine status</div>
      <div class="machine-status-state">Idle</div>
    </div>
    <div class="widget process-info">
      <div class="widget-header">Process info</div>
      <div class="process-info-data">
        <div class="label-value-group">
          <div class="label">Item name:</div>
          <div class="value">TestItem1</div>
        </div>
        <div class="label-value-group">
          <div class="label">Processed quantity:</div>
          <div class="value">10</div>
        </div>
      </div>
    </div>
    <div class="widget process-flow">

    </div>
    <div class="widget machine-controls">

    </div>
  </div>
</div>
