<div class="analytics-container">
  <div class="analytics-grid-wrapper">
    <div class="widget common-info">
      <div class="widget-header">Production data</div>
      <div class="label-value-group">
        <div class="label">Overall active processing time:</div>
        <div class="value">10 s</div>
      </div>
      <div class="label-value-group">
        <div class="label">Overall idle processing time:</div>
        <div class="value">10 s</div>
      </div>
      <div class="label-value-group">
        <div class="label">Cancelled processes:</div>
        <div class="value">2</div>
      </div>
      <div class="label-value-group">
        <div class="label">Average step 1 processing time:</div>
        <div class="value">10 s</div>
      </div>
      <div class="label-value-group">
        <div class="label">Average step 2 processing time:</div>
        <div class="value">10 s</div>
      </div>
      <div class="label-value-group">
        <div class="label">Average step 3 processing time:</div>
        <div class="value">10 s</div>
      </div>
    </div>
    <div class="widget overall-processing-time">
      <div class="widget-header">Overall processing time</div>
    </div>
    <div class="widget step1-processing-time">
      <div class="widget-header">Step 1 processing time</div>
    </div>
    <div class="widget step2-processing-time">
      <div class="widget-header">Step 2 processing time</div>
    </div>
    <div class="widget step3-processing-time">
      <div class="widget-header">Step 3 processing time</div>
    </div>
  </div>
</div>
