@use '../common' as *;
@use '../colors' as *;


:host {
  $viewWidth: calc(100vw - 300px - #{$borderSize});
  $viewHeight: calc(100vh - #{$borderSize * 2});

  .page-container {
    position: fixed;
    top: 0;
    left: 300px;
    width: $viewWidth;
    height: $viewHeight;

    border-top: $borderSize solid $color-borders;
    border-right: $borderSize solid $color-borders;
    border-bottom: $borderSize solid $color-borders;
  }
}
